name: CI
on: [push]
jobs:
  build:
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu
            runs-on: ubuntu-latest
          #- name: MacOS
          #  runs-on: macos-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v2
    - uses: lhotari/gh-actions-artifact-client/dist@master
    - name: Setup upterm ssh session
      uses: lhotari/action-upterm@dev
      #uses: ./.github/actions/ssh-access
      with:
        limit-access-to-actor: true
#    - name: Wait for ssh connection
#      uses: ./.github/actions/ssh-access
#      with:
#        action: wait
#        timeout: 120
